$black:                       #000000;
$white:                       #ffffff;
$color-main:                  #121212;
$main-light:                  rgba(18, 18, 18, 0.8);
$color-top:                   #00D9E2;
$gray:                        #666666;
$dark-gray:                   #747474;
$light-gray:                  #F9F9F9;

$mobile-width:                320px;
$tablet-width:                768px;
$desktop-width:               1300px;

$time:                        0.3s;
