.promo {
  padding-top: 48px;
  padding-bottom: 50px;
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 700px;
    margin-left: 0;
    padding-top: 176px;
  }
}

.promo__description {
  font-family: "Circe", "Arial", sans-serif;
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    max-width: 600px;
    margin-bottom: 40px;
  }
}

.promo__form-info {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: $main-light;
    margin-bottom: 15px;
  }
}
